/*
primary-dark: #2F3061
primary-med: #0e34a0
primary-light: #5f5980

*/


body {
  font-family: sans-serif;
  color: gainsboro;
  background-color: #343434;
}

.header {
  display: flex;
  justify-content: center;
}

hr {
  border: dashed 1px black;
}


.heading-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-primary-sub {
  font-style: italic;
}


a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  padding: 0.5rem;
}

form div {
  margin: 1rem;
  width: -webkit-fill-available;
  display: inline-grid;
}

.all-poems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaded-poem {
  margin: 8rem;
  white-space: nowrap;
}

#poem-lines {
  font-size: 1.5rem;
  white-space: pre-line;
}


/* .navigation__background {
  background-color: #5f5980;
} */
.navigation__nav {
  background-color: #5f5980;

}
.navigation__link {
  color: gainsboro;
  font: 400;
  font-size: 1rem;
}

.navigation__link:hover {
  background-color: gainsboro;
  color: #343434
}

.poem-link a {
  color: gainsboro;
  font-size: 1.5rem;
}

.poem-link a:hover {
  color: #343434;
  background-color: gainsboro;
  padding: 1rem;
}

.annotated-text {
  background-color: #077e7e;
}

.annotated-text:hover {
  background-color: #14aaaa;
  cursor: pointer;
}

#player-container {
  position: fixed;
  height: 56px;
  width: 100%;
  bottom: 0;
}

#player-controls {
  background-color: #333;
  box-shadow: 0px -2px 2px #5a5a5a;
  height: 100%;
}

#player-controls > div {
  height: 100%;
  align-items: center;
}

#player-controls i {
  font-size: 2em;
  padding: 0 0.5em;
}

i.fa {
  cursor: pointer;
  font-size: 2em;
  transition: color 0.2s ease;
}

i.fa:hover {
  color: #00aa00;
}

.modal {
  font-size: 12px;

}
.modal > .header {
  width: 100%;
  /* border-bottom: 1px solid gray; */
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  white-space: pre-line;
  color: black;
  line-height: 1.5rem;
  font-size: 1rem;
  font-style: italic;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* .modal > .commentary {
  width: 100%;
  padding: 10px 5px;
  color: black;
  line-height: 1.5rem;
  font-size: 1rem;
} */

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: gainsboro;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.note-header {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1rem;
  border-bottom: solid 3px;
  width: auto;
}

.comment-header {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: black;
  border-bottom: solid 3px;
  width: auto;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

textarea {
  resize: vertical;
}

.new-form {
  border-top: dashed black 1px;
}

.annotate-btn {
  display:inline-block;
padding:0.46em 1.6em;
border:0.1em solid #000000;
margin:0 0.2em 0.2em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#000000;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#FFFFFF;
text-align:center;
transition: all 0.15s;
}

.annotate-btn:hover {
 text-shadow: 0 0 2em rgba(255,255,255,1);
  color: black;
  border-color:#FFFFFF;
}

@media all and (max-width:30em){
   .annotate-btn {
    display:block;
    margin:0.4em auto;
  }:
}

.submit-anttn-btn {
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin: auto;
  display: flex;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  border-radius: 3px;
}

.asubmit-anttn-btn:hover {
 text-shadow: 0 0 2em rgba(255,255,255,1);
  color: black;
  border-color:#FFFFFF;
}

@media all and (max-width:30em){
   .submit-anttn-btn {
    display:block;
    margin:0.4em auto;
  };
}

.author-icon {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.individual-comment {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.annotation-contents {
  padding-left: 0.5rem;
}

.time-created {
  padding-bottom: 0.75rem;
  font-size: 0.9rem;
  color: #bbb;
}

.author {
  color: black;
  font-size: 1rem;
  font-weight: 900;
  padding-bottom: 0.1rem;
}

.commentary {
  color: black;
  font-size: 1rem;
}